/* Common styling */
html,
body {
    width: 350px;
    text-align: center;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}
.wrapper {
    padding: 16px 16px 20px;
}
a {
    color: black;
    text-decoration: none;
}

.button {
    background-color: rgba(12, 12, 13, 0.1);
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    outline: none;
    cursor: pointer;
    border: none;
    border-radius: 2px;
    transition: background-color 0.2s ease;
}
.button:hover {
    background-color: rgba(12, 12, 13, 0.2);
}
.button:active {
    background-color: rgba(12, 12, 13, 0.3);
}
.button:focus {
    box-shadow: 0 0 0 1px #0a84ff inset,
                0 0 0 1px #0a84ff,
                0 0 0 4px rgba(10, 132, 255, 0.3);
}
.button:disabled {
    pointer-events: none;
    opacity: 0.4;
}
button::-moz-focus-inner {
    border: 0;
}

.button.button-primary {
    background-color: #0060df;
    color: #fff;
}
.button.button-primary:hover {
    background-color: #003eaa;
}
.button.button-primary:active {
    background-color: #002275;
}

.button.button-ghost {
    position: relative;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0;
    background-size: 50% auto;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center center;
}
.button.button-micro.button-ghost {
    width: 24px;
    height: 24px;
    padding: 0;
}
.button.button-ghost:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.button.button-ghost > svg {
    fill: rgba(12, 12, 13, 0.8);
}
.button.button-ghost:hover {
    background-color: rgba(12, 12, 13, 0.1);
}
.button.button-ghost:active {
    background-color: rgba(12, 12, 13, 0.2);
}

.button-puffy {
    font-size: 15px;
    padding: 16px;
}
.button-micro {
    font-size: 13px;
    padding: 2px 8px;
}

/* Message bar */
.message-bar {
    display: none;
    visibility: hidden;
    position: relative;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 4px 32px 4px 4px;
    margin-bottom: 16px;
    border-radius: 4px;
    width: 100%;
    min-height: 40px;
    box-sizing: border-box;
    background: #ededf0;
}
.message-bar.is-shown {
    display: flex;
    visibility: visible;
}
.message-bar__icon {
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    padding: 4px;
    box-sizing: border-box;
    margin-right: 4px;
}
.message-bar__icon > svg {
    width: 16px;
    height: 16px;
}
.message-bar__text {
    padding: 4px 0;
    font-size: 13px;
    color: #0c0c0d;
    text-align: left;
    margin-right: 8px;
}
.message-bar__action {
    margin-top: 8px;
}
.message-bar__dismiss {
    position: absolute;
    right: 4px;
}

/* Controls block */
.controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 35px 10px;
}

.pause > .icon-pause,
.enabled-true > .enabled-true,
.enabled-false > .enabled-false {
    display: inline-block;
}

.icon-pause,
.pause > .icon-play,
.enabled-true > .enabled-false,
.enabled-false > .enabled-true  {
    display: none;
}

/* Track information block */
.current {
    margin: 10px auto 20px auto;
    width: 250px;
    text-align: left;
    line-height: 1.6;
    display: flex;
    align-items: center;
}

.current__link {
    position: relative;
    display: block;
    width: 100px;
    height: 100px;
    margin-right: 10px;
    flex-shrink: 0;
}

.current__loader {
    opacity: 0;
    position: absolute;
    top: calc(50% - 16px);
    left: calc(50% - 16px);
    width: 32px;
    height: 32px;
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0.5);
    transition: opacity 0.1s ease-in;
}
.current__loader-icon {
    width: 100%;
    height: 100%;
    animation: spin 2s linear infinite;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA1MCA1MCI+PHBhdGggZD0iTTI1IDM4Yy03LjIgMC0xMy01LjgtMTMtMTMgMC0zLjIgMS4yLTYuMiAzLjMtOC42bDEuNSAxLjNDMTUgMTkuNyAxNCAyMi4zIDE0IDI1YzAgNi4xIDQuOSAxMSAxMSAxMSAxLjYgMCAzLjEtLjMgNC42LTFsLjggMS44Yy0xLjcuOC0zLjUgMS4yLTUuNCAxLjJ6Ii8+PHBhdGggZD0iTTM0LjcgMzMuN2wtMS41LTEuM2MxLjgtMiAyLjgtNC42IDIuOC03LjMgMC02LjEtNC45LTExLTExLTExLTEuNiAwLTMuMS4zLTQuNiAxbC0uOC0xLjhjMS43LS44IDMuNS0xLjIgNS40LTEuMiA3LjIgMCAxMyA1LjggMTMgMTMgMCAzLjEtMS4yIDYuMi0zLjMgOC42eiIvPjxwYXRoIGQ9Ik0xOCAyNGgtMnYtNmgtNnYtMmg4eiIvPjxwYXRoIGQ9Ik00MCAzNGgtOHYtOGgydjZoNnoiLz48L3N2Zz4=);
}

@keyframes spin { 100% { transform:rotate(360deg); } }

.current__cover {
    width: 100%;
    height: 100%;
    outline: 1px solid rgba(0, 0, 0, 0.2);
    outline-offset: -1px;
}

.current_name {
    display: block;
    font-weight: 600;
}

.current_name,
.current_artist {
    text-overflow: ellipsis;
    display: block;
    overflow: hidden;
}

.current_artist a {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
.current_artist a:hover {
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

/* Not loaded state */
#notLoaded {
    padding: 25px;
}
#notLoaded,
.share {
    display: none;
}

/* Share block */
.share {
    border-top: 1px solid rgba(0, 0, 0, 0.06);
    padding-top: 5px;
    margin: 0 0 20px;
}
.share__info {
    margin-bottom: 7px;
    color: #b0b0af;
}

.share__button {
    display: inline-block;
    width: 18px;
    height: 18px;
    padding: 4px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 2px;
}

.share__button:hover {
    opacity: 0.6;
}

.share__button:active {
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.3) inset;
    background-position: calc(50% + 1px) calc(50% + 1px);
}

.share__button-fb {
    background-color: #3b5998;
    background-size: auto 15px;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTFweCIgaGVpZ2h0PSIyM3B4IiB2aWV3Qm94PSIwIDAgMTEgMjMiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+ICAgICAgICA8ZGVzYz5DcmVhdGVkIHdpdGggU2tldGNoLjwvZGVzYz4gICAgPGRlZnM+PC9kZWZzPiAgICA8ZyBpZD0iU29jaWFsLUljb25zIiBzdHJva2U9Im5vbmUiIHN0cm9rZS13aWR0aD0iMSIgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj4gICAgICAgIDxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKC03Ni4wMDAwMDAsIC03Mi4wMDAwMDApIiBpZD0iZmFjZWJvb2siIGZpbGw9IiNGRkZGRkYiPiAgICAgICAgICAgIDxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDYwLjAwMDAwMCwgNjAuMDAwMDAwKSI+ICAgICAgICAgICAgICAgIDxwYXRoIGQ9Ik0yMy4zMTQ3MDU3LDM1IEwxOC40MzcyNDE4LDM1IEwxOC40MzcyNDE4LDIzLjQ5ODU0ODMgTDE2LDIzLjQ5ODU0ODMgTDE2LDE5LjUzNTUzNCBMMTguNDM3MjQxOCwxOS41MzU1MzQgTDE4LjQzNzI0MTgsMTcuMTU2MjczNyBDMTguNDM3MjQxOCwxMy45MjM0NDExIDE5LjgxMjcwNzQsMTIgMjMuNzIzMDIzOCwxMiBMMjYuOTc3NjQ2OCwxMiBMMjYuOTc3NjQ2OCwxNS45NjQ0NjYgTDI0Ljk0MzUwNzQsMTUuOTY0NDY2IEMyMy40MjEyNTU4LDE1Ljk2NDQ2NiAyMy4zMjA2NjY1LDE2LjUxODI3MTkgMjMuMzIwNjY2NSwxNy41NTE4NDkzIEwyMy4zMTM5NjA2LDE5LjUzNTUzNCBMMjcsMTkuNTM1NTM0IEwyNi41Njg1ODM2LDIzLjQ5ODU0ODMgTDIzLjMxMzk2MDYsMjMuNDk4NTQ4MyBMMjMuMzEzOTYwNiwzNSBMMjMuMzE0NzA1NywzNSBaIiBpZD0iU2hhcGUiPjwvcGF0aD4gICAgICAgICAgICA8L2c+ICAgICAgICA8L2c+ICAgIDwvZz48L3N2Zz4=);
}

.share__button-tw {
    background-color: #00aced;
    background-size: 15px auto;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjFweCIgaGVpZ2h0PSIxOHB4IiB2aWV3Qm94PSIwIDAgMjEgMTgiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+ICAgICAgICA8ZGVzYz5DcmVhdGVkIHdpdGggU2tldGNoLjwvZGVzYz4gICAgPGRlZnM+PC9kZWZzPiAgICA8ZyBpZD0iU29jaWFsLUljb25zIiBzdHJva2U9Im5vbmUiIHN0cm9rZS13aWR0aD0iMSIgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj4gICAgICAgIDxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0xMzIuMDAwMDAwLCAtNzQuMDAwMDAwKSIgaWQ9InR3aXR0ZXIiIGZpbGw9IiNGRkZGRkYiPiAgICAgICAgICAgIDxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDEyMC4wMDAwMDAsIDYwLjAwMDAwMCkiPiAgICAgICAgICAgICAgICA8cGF0aCBkPSJNMzAuNTI2MTQ5LDE2Ljg0NTczMTYgQzMxLjQxNjA5NDQsMTYuMjg0MTI1NCAzMi4wOTg5NjExLDE1LjM5MzYxNTUgMzIuNDE5NDQsMTQuMzMyODAzNyBDMzEuNTg2MTk0OCwxNC44NTQxMDk1IDMwLjY2NTQzNDEsMTUuMjMxMTEzNyAyOS42ODMwNDI4LDE1LjQzNTIxNTkgQzI4Ljg5OTEwMiwxNC41NTEyMDYxIDI3Ljc3ODY1ODIsMTQgMjYuNTM4NjUxMiwxNCBDMjQuMTU5NzExMiwxNCAyMi4yMzE5MDcsMTYuMDM0NTIyNiAyMi4yMzE5MDcsMTguNTQzNTUwNSBDMjIuMjMxOTA3LDE4Ljg5OTc1NDQgMjIuMjY3NjUyOCwxOS4yNDY4NTgzIDIyLjM0MTYwOTQsMTkuNTc4MzYyIEMxOC43NjIxMDYsMTkuMzg4NTU5OSAxNS41ODgxMzE3LDE3LjU4MTUzOTggMTMuNDYxODc3MSwxNC44MzA3MDkyIEMxMy4wOTA4NjExLDE1LjUwNDExNjcgMTIuODc4ODUxOSwxNi4yODQxMjU0IDEyLjg3ODg1MTksMTcuMTE2MTM0NiBDMTIuODc4ODUxOSwxOC42OTE3NTIxIDEzLjYzOTM3MzEsMjAuMDgyNzY3NiAxNC43OTU1NjI2LDIwLjg5OTE3NjcgQzE0LjA4OTI3NjMsMjAuODc1Nzc2NCAxMy40MjQ4OTg3LDIwLjY2OTA3NDEgMTIuODQzMTA2MiwyMC4zMzEwNzAzIEwxMi44NDMxMDYyLDIwLjM4Njk3MSBDMTIuODQzMTA2MiwyMi41ODkxOTU0IDE0LjMyNzE3MDMsMjQuNDI2MTE1OCAxNi4zMDA1ODExLDI0Ljg0MjEyMDUgQzE1LjkzODE5MzMsMjQuOTQ4NzIxNyAxNS41NTg1NDksMjUuMDAyMDIyMiAxNS4xNjQxMTM0LDI1LjAwMjAyMjIgQzE0Ljg4Njc3NTgsMjUuMDAyMDIyMiAxNC42MTU2MDEzLDI0Ljk3NDcyMTkgMTQuMzU0Mjg3NywyNC45MjE0MjEzIEMxNC45MDE1NjcyLDI2LjcyNTg0MTQgMTYuNDkyODY4NSwyOC4wNDE0NTYgMTguMzc4NzYzOSwyOC4wNzY1NTY0IEMxNi45MDMzMjgxLDI5LjI5NTk3IDE1LjA0NTc4MjcsMzAuMDIxMzc4IDEzLjAyNzk5NzksMzAuMDIxMzc4IEMxMi42ODA0MDE1LDMwLjAyMTM3OCAxMi4zMzY1MDI5LDMwLjAwMTg3NzggMTIsMjkuOTU4OTc3MyBDMTMuOTA2ODQ5OCwzMS4yNDcyOTE2IDE2LjE3MTE1NjksMzIgMTguNjA0MzMxNywzMiBDMjYuNTMwMDIyOSwzMiAzMC44NjE0MTkzLDI1LjA3NjEyMzEgMzAuODYxNDE5MywxOS4wNzEzNTYzIEMzMC44NjE0MTkzLDE4Ljg3Mzc1NDIgMzAuODU4OTU0LDE4LjY3NzQ1MiAzMC44NTAzMjU4LDE4LjQ4Mzc0OTggQzMxLjY5MjE5OTMsMTcuODQyODQyNyAzMi40MjQzNzA1LDE3LjA0MjAzMzggMzMsMTYuMTMwNzIzNyBDMzIuMjI3MTUyNywxNi40OTIxMjc3IDMxLjM5NjM3MjYsMTYuNzM2NTMwNCAzMC41MjYxNDksMTYuODQ1NzMxNiBaIiBpZD0iU2hhcGUiPjwvcGF0aD4gICAgICAgICAgICA8L2c+ICAgICAgICA8L2c+ICAgIDwvZz48L3N2Zz4=);
}

.share__button-vk {
    background-color: #48729e;
    background-size: 15px auto;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjVweCIgaGVpZ2h0PSIxNHB4IiB2aWV3Qm94PSIwIDAgMjUgMTQiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+ICAgICAgICA8ZGVzYz5DcmVhdGVkIHdpdGggU2tldGNoLjwvZGVzYz4gICAgPGRlZnM+PC9kZWZzPiAgICA8ZyBpZD0iU29jaWFsLUljb25zIiBzdHJva2U9Im5vbmUiIHN0cm9rZS13aWR0aD0iMSIgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj4gICAgICAgIDxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0zMDkuMDAwMDAwLCAtNzcuMDAwMDAwKSIgaWQ9InZrIiBmaWxsPSIjRkZGRkZGIj4gICAgICAgICAgICA8ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSgzMDAuMDAwMDAwLCA2MS4wMDAwMDApIj4gICAgICAgICAgICAgICAgPHBhdGggZD0iTTIyLjcyNjAzNzUsMjkuOTMxMjgyIEMyMi43MjYwMzc1LDI5LjkzMTI4MiAyMy4xNzcyMzI2LDI5Ljg4MjA3MTkgMjMuNDA4MzMyNSwyOS42Mzg0MjE1IEMyMy42MTk4Njg1LDI5LjQxNTE3NTMgMjMuNjEyNTMxOSwyOC45OTM4ODgyIDIzLjYxMjUzMTksMjguOTkzODg4MiBDMjMuNjEyNTMxOSwyOC45OTM4ODgyIDIzLjU4NDQwODcsMjcuMDI2NjgxNiAyNC41MTQ5MjIxLDI2LjczNjIyMTUgQzI1LjQzMTk4NTMsMjYuNDUwNTYyNSAyNi42MDk0OTQ1LDI4LjYzODYxNDggMjcuODU5MTQ1OSwyOS40Nzk5ODg3IEMyOC44MDMxMDk3LDMwLjExNjEyMDIgMjkuNTE5NjQxNywyOS45NzY4OTE1IDI5LjUxOTY0MTcsMjkuOTc2ODkxNSBMMzIuODU4OTc0NSwyOS45MzEyODIgQzMyLjg1ODk3NDUsMjkuOTMxMjgyIDM0LjYwNTA2MjksMjkuODI1NjYwMiAzMy43NzcyNjA1LDI4LjQ3Nzc4MTYgQzMzLjcwODc4NjQsMjguMzY3MzU4NyAzMy4yOTQyNzM5LDI3LjQ4MDM3NTQgMzEuMjk1MDc2MSwyNS42NTgzOTg3IEMyOS4yMDA1MDM3LDIzLjc1MTIwNDUgMjkuNDgxNzM2NCwyNC4wNTk2NjgyIDMyLjAwMzA0ODksMjAuNzYwMTg2MiBDMzMuNTM4ODI0LDE4Ljc1MDk3MDggMzQuMTUyNjQ1LDE3LjUyNDMxNzIgMzMuOTYwNjczMSwxNi45OTk4MDg4IEMzMy43Nzg0ODMyLDE2LjQ5ODEwNTEgMzIuNjQ4NjYxNCwxNi42MzEzMzI2IDMyLjY0ODY2MTQsMTYuNjMxMzMyNiBMMjguODg5OTI1LDE2LjY1NDEzNzMgQzI4Ljg4OTkyNSwxNi42NTQxMzczIDI4LjYxMTEzNzgsMTYuNjE2OTI5NiAyOC40MDQ0OTI5LDE2LjczODE1NDcgQzI4LjIwMjczOSwxNi44NTY5NzkzIDI4LjA3MTkwNDYsMTcuMTM0MjM2NiAyOC4wNzE5MDQ2LDE3LjEzNDIzNjYgQzI4LjA3MTkwNDYsMTcuMTM0MjM2NiAyNy40Nzc2NDc3LDE4LjY4ODU1NzkgMjYuNjg0MDgyMywyMC4wMTEyMzEzIEMyNS4wMTAxMzYzLDIyLjgwMDYwOCAyNC4zNDEyOTE1LDIyLjk0ODIzODUgMjQuMDY3Mzk1MywyMi43NzU0MDI3IEMyMy40MzAzNDIxLDIyLjM3MDkxOTEgMjMuNTg5Mjk5NywyMS4xNTI2NjczIDIzLjU4OTI5OTcsMjAuMjg3Mjg4NCBDMjMuNTg5Mjk5NywxNy41ODMxMjk0IDI0LjAwNzQ4MDUsMTYuNDU2MDk2NCAyMi43NzYxNzAzLDE2LjE2NDQzNjEgQzIyLjM2Nzc3MTUsMTYuMDY3MjE2IDIyLjA2Njk3NDgsMTYuMDAzNjAyOSAyMS4wMjE1MjI3LDE1Ljk5MjgwMDYgQzE5LjY4MDE2NDksMTUuOTc5NTk3OSAxOC41NDU0NTIxLDE1Ljk5NzYwMTYgMTcuOTAyMjg1MSwxNi4zMDYwNjU0IEMxNy40NzQzMjIyLDE2LjUxMTMwNzggMTcuMTQ0MTc5NSwxNi45Njk4MDI2IDE3LjM0NTkzMzQsMTYuOTk2MjA4IEMxNy41OTQxNTE4LDE3LjAyODYxNDcgMTguMTU2NjE3MywxNy4xNDUwMzg4IDE4LjQ1NDk2ODUsMTcuNTQzNTIxMiBDMTguODQwMTM1LDE4LjA1ODQyNzYgMTguODI2Njg0OCwxOS4yMTMwNjYzIDE4LjgyNjY4NDgsMTkuMjEzMDY2MyBDMTguODI2Njg0OCwxOS4yMTMwNjYzIDE5LjA0ODAwMjcsMjIuMzk2MTI0MyAxOC4zMDk0NjExLDIyLjc5MTAwNiBDMTcuODAzMjQyMywyMy4wNjIyNjIgMTcuMTA4NzE5NywyMi41MDg5NDc3IDE1LjYxNTc0MDgsMTkuOTc3NjI0NCBDMTQuODUxNTIxNSwxOC42ODEzNTY0IDE0LjI3NDM4MzEsMTcuMjQ4MjYwMiAxNC4yNzQzODMxLDE3LjI0ODI2MDIgQzE0LjI3NDM4MzEsMTcuMjQ4MjYwMiAxNC4xNjMxMTI3LDE2Ljk4MDYwNDggMTMuOTYzODA0MywxNi44MzY1NzUgQzEzLjcyMjkyMjQsMTYuNjYyNTM5MSAxMy4zODY2NjU5LDE2LjYwODUyNzkgMTMuMzg2NjY1OSwxNi42MDg1Mjc5IEw5LjgxNTAxMDM5LDE2LjYzMTMzMjYgQzkuODE1MDEwMzksMTYuNjMxMzMyNiA5LjI3ODIyMjczLDE2LjY0NTczNTYgOS4wODEzNTk4MywxNi44NzQ5ODMgQzguOTA2NTA2NDQsMTcuMDc3ODI0OSA5LjA2NzkwOTU3LDE3LjQ5OTExMiA5LjA2NzkwOTU3LDE3LjQ5OTExMiBDOS4wNjc5MDk1NywxNy40OTkxMTIgMTEuODY0MzQxLDIzLjkyMTYzOTcgMTUuMDMxMjY1OSwyNy4xNTg3MDg5IEMxNy45MzUyOTk0LDMwLjEyNTcyMjIgMjEuMjMxODM1OSwyOS45MzEyODIgMjEuMjMxODM1OSwyOS45MzEyODIgTDIyLjcyNjAzNzUsMjkuOTMxMjgyIFoiIGlkPSJTaGFwZSI+PC9wYXRoPiAgICAgICAgICAgIDwvZz4gICAgICAgIDwvZz4gICAgPC9nPjwvc3ZnPg==);
}

@media (prefers-color-scheme: dark) {
    html,
    body {
        background: #4a4a4f;
        color: #f9f9fa;
    }
    .message-bar {
        background: #202023;
    }
    .message-bar__icon > object,
    .button.button-ghost:not(.enabled-true) > object {
        filter: invert(100%) brightness(99%) contrast(97%);
    }
    a,
    .message-bar__text {
        color: #f9f9fa;
    }
    .button {
        color: #f9f9fa;
        background-color: #404043;
    }
    .button:hover {
        background-color: #49494D;
    }
    .button:active {
        background-color: #545457;
    }
    .button.button-ghost:hover {
        background-color: #666667;
    }
    .button.button-ghost:active {
        background-color: #7e7e7f;
    }
}

/* Права на отдельные компоненты, составляющие дизайн настоящей программы для ЭВМ "Yandex Music Controls", принадлежат ООО «ЯНДЕКС» */