/* Options page styles */

.options__button {
  -moz-appearance: none;
  color: rgb(12, 12, 13);
  min-height: 30px;
  font-size: 15px;
  line-height: 27px;
  padding: 0 10px;
  border: 1px solid #d7d7db;
  border-radius: 2px;
  background-color: rgb(249, 249, 250);
}
.options__button:hover {
  background-color: #eaebea;
}
.options__button:active {
  background-color: #dadada;
}

.options__section {
  position: relative;
  margin-top: 16px;
  padding-top: 16px;
  border-top: 1px solid rgba(12, 12, 13, 0.15);
  padding-left: 5px;
}

.options__title {
  display: block;
  font-size: 1.46em;
  font-weight: 300;
  line-height: 1.3em;
  -moz-user-select: none;
  margin-top: 0;
  margin-bottom: 15px;
}

h2.options__title {
  font-size: 22px;
}

.options__section-reset {
  position: absolute;
  top: 16px;
  right: 4px;
}

.option__help {
  max-width: 650px;
  margin-bottom: 32px;
  font-size: 15px;
  line-height: 1.6;
}

.hotkeys_combination {
  display: inline-block;
  background: #ededf0;
  padding: 2px 3px;
  border-radius: 2px;
  line-height: 1;
}

.mac-only {
  display: none;
}

.options__list {
  margin-bottom: 32px;
}
.options__list > div {
  margin: 8px 0;
}

.options__label {
  font-size: 15px;
  margin-right: 10px;
}

.option__checkbox-label {
  display: inline-block;
  position: relative;
  top: 3px;
}

.option__checkbox-description {
  display: none;
  color: #737373;
  margin: 3px 0 0 30px;
}

.option__checkbox:checked ~ .option__checkbox-description_enabled {
  display: block;
}
.option__checkbox:not(:checked) ~ .option__checkbox-description_disabled {
  display: block;
}

.option__input {
  -moz-appearance: none;
  color: rgb(12, 12, 13);
  height: 27px;
  line-height: 27px;
  border: 1px solid #d7d7db;
  border-radius: 2px;
  padding: 0 10px;
}
.option__checkbox:hover,
.option__checkbox:focus,
.option__input:hover,
.option__input:focus {
  border-color: #0a84ff;
}

.option__input.option__input-error {
  border-color: #ff0039;
  box-shadow: 0 0 0 4px #ff7f9b;
}

@media (prefers-color-scheme: dark) {
  html,
  body {
      background: #202023;
      color: #f9f9fa;
  }
  .hotkeys_combination {
    background: #4a4a4f;
  }
  a {
      color: #f9f9fa;
  }
}